/* Header */

.notification-bar{
    background-color: #5b7a4a;
    color: White;
    padding: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-color: rgba(107, 56, 56, 0.469);
    border-style: solid;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
}

.search-bar {
    padding: 8px;
    font-size: 14px;
    width: 200px;
    border: 1px solid #ccc;
}

.title {
    text-align: center;
    font-family: "Archivo", sans-serif;
}

.title h1 {
    margin:0;
    font-size: 48px;

}

.title p {
    margin:0;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
}

.account-cart {
    display: flex;
    font-family: "Archivo", sans-serif;
    align-items: center;
    gap: 15px;
    font-weight: bold;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    height: 40px;
    margin-bottom: 0;
    font-family: "Archivo", sans-serif;
    font-size: 18px;
    font-style: light;
    font-weight: 600;
    font-style: normal;
}

.nav-bar p:hover {
    text-decoration: underline;
    text-shadow: 3px 5px 8px rgba(214, 220, 216, 0.6);
    font-style: bold;
}

/* Hero Image & Slogan */

.hero-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-strip {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    box-sizing:border-box;
    gap: 0;
    margin-top: 10px;
    border: 1.8px solid rgb(81, 76, 76);
    border-radius: 3px;
}

.hero-strip img {
    width: 33.3%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    margin: 0;
}

.hero-slogan {
    position: absolute;
    color: rgba(255, 255, 255, 0.953);
    font-family: "Playwrite DE SAS", cursive;
    font-style: normal;
    text-align: center;
    padding-top: 20px;
    width: 80%;
    top: 50%;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
    font-size: 2.5vw; /* Responsive font size */
    line-height: 1.6;
}

.company-message {
    font-size: 16px;
    font-family: "Archivo", sans-serif;
    font-weight: bold;
    padding: 10px 10px;
    margin-bottom: 20px;
    text-align:center;
}


/* Dropdown Menu Nav Bar */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    min-width: 200px;
    box-shadow: 3px 8px 12px rgba(3,3,3,6);
    border: 1px solid #928d8d;
  }
  
  .dropdown-content a {
    display: block;
    padding: 12px 5px;
    text-decoration: none;
    color: black;
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
  
  .dropdown-content a:hover{
    background-color: #f1f1f1;
  }
  
  /* Show dropdown on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Underline when user hovers over item */
  .dropdown:hover .nav-item {
    text-decoration: underline;
    text-shadow: 3 5px 8px rgba(164, 113, 113, 0.6);
  }

  /*HOW IT WORKS*/
  
  .how-it-works {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    font-family: "Archivo", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border:rgba(0, 0, 0, 0.2) solid 1px;
    background-color: #eaf1db;
    margin-bottom: 20px;
    gap: 20px;
  }

  .how-it-works h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .how-it-works-steps{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-top: 10px;
  }

  .icon-box{
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .icon-title{
    text-align: center;
    margin-bottom: 1px;
  }

  .icon-circle{
    width: 45px;
    height: 45px;
    border-radius: 20%;
    background-color: #5b7a4a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
  }

  .icon-description{
    font-size: 14px;
    text-align: center;
  }

  .faq-btn {
    border-radius: 5px;
    background-color: black;
    color: white;
    margin: 20px auto 10px;
    display:flex;
    text-align: center;
    justify-content: center;
    padding: 10px 30px;
    width: fit-content;
    border: none;
    cursor: pointer;
  }

  .faq-btn:hover {
    background-color: #364b2b;
    color: white;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
  }


  /* Top Picks Dress Cards */

  .top-picks {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    margin-bottom: 0;
    font-family: "Archivo", sans-serif;
    font-style: light;
    font-weight: 600;
    font-style: normal;

  }

  .top-picks h2{
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center
  }

  .dress-container{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0 auto;
    gap: 10px;
    max-width: 1200px;
    border-radius: 3px;
    gap: 30px;
  }

  .dress-card{
    width: 33.3%;
    padding: 20px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .dress-card img {
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .sizing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .size {
    box-sizing: border-box;
    border: 1.2px solid #888784b3;
    padding: 5px 10px;
    box-shadow: 0px 2px 4px rgba(130, 126, 126, 0.2);
    min-width: 35px;
    min-height:auto;
  }

  .visit{
    background-color: #eaf1db;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: "Archivo", sans-serif;
    border:rgba(0, 0, 0, 0.2) solid 1px;
    line-height: 1px;
    padding: 30px 0;
  }

  .visit h2{
    font-size: 38px;
    margin-bottom: 25px;
  }


  .visit span:hover {
    text-decoration: underline;
    font-style: bold;
    color: #5b7a4a;
    cursor: pointer;
  }

